<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="icon.png" type="image/x-icon">
    <meta charset="utf-8">
    <title>Kirafan AutoSub Subtitle File Editor</title>
    <link rel="stylesheet" type="text/css" href="index.css" media="screen">
</head>

<body id="body" ng-app="kte" ng-controller="init">
    <div id="outer">
        <div id="header">
            <h2>{{title}}</h2>
            <div id="holder" class="holder" ng-class="{saver_modified: holder.modified}">
                {{asset.inited?'Save':holder.msg}}
            </div>
            <div id="file_indicator" class="file_indicator">
                Workspace:
                <br>{{asset.filename}}
            </div>
        </div>
        {{asset.items.names}}
        <div id="item_container">
            <div class="title" ng-if="asset.inited">Title
                <br>
                <textarea class="text" ng-trim="false" ng-model="asset.data.title"
                    ng-change="textChange()">
                </textarea>
            </div>
            <div class="item" ng-repeat="nmtg_index in asset.data.nmtg_map track by $index">
                <div class="col2">Original Text
                    <br>
                    <img type="text" class="nmtg" src="{{asset.nmtgimg_src(nmtg_index)}}">
                    <img type="rend" class="text" src="{{asset.textimg_src($index)}}">
                </div>
                <div class="col2">{{numlines(asset.data.trans, asset.inline_concat[$index])>3?"Error: Max 3 Lines":"Translation"}}
                    <input type="text" class="nmtg" ng-model="asset.data.nmtgs[nmtg_index]" ng-change="textChange()">
                    <textarea class="text" ng-trim="false" ng-model="asset.data.trans[$index]"
                        ng-class="{badlength: numlines(asset.data.trans, asset.inline_concat[$index]) > 3, 
                            warnlength: numlines(asset.data.trans, asset.inline_concat[$index]) > 2}"
                        ng-change="textChange()">
                    </textarea>
                    <pre class="rend" readonly disabled
                        ng-bind-html="concat(asset.data.trans, asset.inline_concat[$index])"
                        ng-class="{rend3lines: numlines(asset.data.trans, asset.inline_concat[$index]) > 2,
                            jprend: asset.data.lang == 'jp',
                            cnrend: asset.data.lang == 'cn',
                            enrend: asset.data.lang == 'en',
                            korend: asset.data.lang == 'ko'
                        }">
                    </pre>
                </div>
            </div>
        </div>
        <script src="index.js"></script>
</body>

</html>